
backend/data/*
backend/models/*
backend/recommendations/*
backend/recommendations_with_emails/*
backend/evaluate_lightfm.py
backend/prediction.py
backend/predictor_1.py
backend/recommender_lightfm.py
backend/recommender.py
backend/tempCodeRunnerFile.py
backend/*.npz
backend/__pycache__/*
backend/backend/*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node-related
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python virtual environments
.venv/
venv/
.python-version
install-pyenv-win.ps1

.env

